{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!-- service section -->
    <div class="service">
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div class="titlepage">
                    <h2><img src="{% static 'images/heading_icon.png' %}" alt="#"/><span class="yellow">Galeria de fotos</span> <br> <span class="appp_l">Proceso de subiuda de fotos</span></h2>
                    <p>Este proceso selecciona una foto y la subira a la galeria</p>
                 </div>

                <div class="Service Text">
                 <h1> Subir fotos </h1>
                <form action = "" method="post" enctype="multipart/form-data">
                 {% csrf_token %}
                 {{imageform.image_to_upload}}
                 
                 <div class="co-md-12l">
                    <button class="send_btn">Subir foto</button>
                 </div>
                 </form>
                 </div>
                 {%for i in imagegallery%}
                 <img src="{{i.image_to_upload.url}}">
                 {%endfor%} 
              </div>
           </div>
        </div>
    </div>




{% endblock %}